.idea
.git
data
dist
docs
node_modules
.dockerignore
.gitattributes
.gitlab-ci_.yml
.gitignore
compose-dev.yml
compose.yml
Dockerfile
LICENSE
README.md
Taskfile.yml
template.env
**/*.local
