.git
.gitignore
.gitattributes
.github
.gitlab-ci.yml
.dockerignore
.idea
.claude
.agents
compose.yml
Taskfile.yml
README.md
CLAUDE.md
LICENSE
skills-lock.json
.env.template
.env.ci.template
**/*.local
Dockerfile
prettier.config.ts
test
dist
node_modules
