## SERVER ENVS
STAGING_IMAGE_PROVIDER_PORT=
PRODUCTION_IMAGE_PROVIDER_PORT=

## PIPELINE ENVS
CI_DEPLOY_HOSTNAME=
CI_DOCKER_REGISTRY=
CI_DOCKER_IMAGE=
CI_DOCKER_NAME=
CI_DOCKER_USERNAME=
CI_SSH_HOSTNAME=
CI_SSH_USERNAME=

## SECRETS ENVS
CI_DOCKER_PASSWORD=
CI_SSH_PRIVATE_KEY=
