# boolean
NODE_DEBUG=
# string
NODE_HOSTNAME=
# number
NODE_PORT=
# string
NODE_UPLOAD_PATH=
# number (in MB)
NODE_UPLOAD_SIZE=
# string (major.minor.patch)
VERSION=
# number
REDOC_HOSTNAME=
# number
REDOC_PORT=