# boolean
IMAGE_PROVIDER_DEBUG=
# number
IMAGE_PROVIDER_PORT=
# string
IMAGE_PROVIDER_UPLOAD_PATH=
# number (in MB)
IMAGE_PROVIDER_UPLOAD_SIZE=
# string (nullable)
IMAGE_PROVIDER_SSL_CERT_PATH=
# string (nullable)
IMAGE_PROVIDER_SSL_KEY_PATH=