## Development Environment ##
# boolean
NODE_DEBUG=
# boolean
NODE_ENV=
# string
NODE_HOSTNAME=
# number
NODE_PORT=
# string
NODE_UPLOAD_DIR=
# number (in MB)
NODE_UPLOAD_SIZE=
# number
NODE_REDOC_HOSTNAME=
# number
NODE_REDOC_PORT=
## ----------------------- ##

## Deployment Environment ##
# string
DOCKER_USER=
# string
DOCKER_PASSWD=
## ---------------------- ##